header {
    background-color: #a39090; 
    color: rgb(0, 0, 0); 
    padding: 20px; 
    text-align: center; 

}

header h1 {
    margin: 0; 
    font-size: 36px; 
    font-weight: bold; 
}
footer {
    background-color: hsl(0, 8%, 50%);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.social-iconsy {
    display: flex;
    justify-content: left;  
    ; 
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.social-icons img {
    width: 55px; 
    height: 55px; 
    object-fit: cover; 
}
